<h1>
  <%= election.title %>
</h1>

<p>
  <%= election.description %>
</p>

<% if election.closing_date.present? %>
  <p>
    <% if election.closed? %>
      Voting is closed since
    <% else %>
      Voting will be open until
    <% end %>
    <%= election.closing_date %>
  </p>
<% end %>
