<% content_for :title, @election.title %>

<%= render @election %>
<%= render "form", { vote: @vote, election: @election } %>

<div>
  <%= link_to "See results", results_elections_path(@election) %>
  <%= link_to "New election", new_election_path %>
</div>
